---
const title = "الكتب"
import Layout from '../layouts/Layout.astro'
import FilterBar from '../components/FilterBar.astro'
import SearchBar from '../components/SearchBar.astro'
import { getBooks } from '../utils/books.js'
const { books, totalPages, currentPage } = getBooks({ query: params.get('q'), queryType: params.get('qType'), college: params.get('college'), department: params.get('department'), stage: params.get('stage'), course: params.get('course'), page: params.get('p') })
const params = Astro.url.searchParams
---

<Layout title={title} mainClass="p-4 container">
	<nav class="navbar navbar-expand-lg px-2 bg-primary" data-bs-theme="dark" slot="nav">
		<div class="container-xl">
			<div class="col">
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterBar" aria-controls="filterBar" aria-expanded="false" aria-label="فتح حقول الفلترة">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="offcanvas offcanvas-top bg-primary" tabindex="-1" id="filterBar" aria-labelledby="filterBarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="filterBarLabel">فلترة الكتب</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="اغلاق"></button>
					</div>
					<div class="offcanvas-body">
						<FilterBar Router={true} Params={params} />
						<button class="btn btn-success mt-3 w-100 d-lg-none" type="button" data-bs-dismiss="offcanvas" >عرض</button>
					</div>
				</div>
			</div>
			<div class="col-auto">
				<a class="navbar-brand ms-3" href="/">
					<img src="/assets/logo/96x96.png" alt="ijsu" width="46" height="46" transition:name="logo">
				</a>
			</div>
			<div class="col">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#searchBar" aria-controls="searchBar" aria-expanded="false" aria-label="فتح حقل البحث">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="searchBar">
					<SearchBar/>
				</div>
			</div>
		</div>
	</nav>

	<h1>{title}</h1>


{books.length > 0 ? (
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 mb-4">
		{books.map((book) => (
		<div class="col">
			<div class="card h-100">
				<div class="ratio a4">
					<img src={book.cover_path} class="card-img-top" alt={`غلاف كتاب ${book.title}`}  loading="lazy">
				</div>
				<div class="card-body">
					<h5 class="card-title">{book.title}</h5>
					<h6 class="card-subtitle mb-2 text-body-secondary">الكلية: {book.college} · القسم: {book.department} · المرحلة: {book.stage} · الكورس: {book.course}</h6>
					<p class="card-text">الأستاذ: {book.profName}</p>
					<div class="row">
						<div class="col">
							<a class="btn btn-primary w-100" href={book.file_path} target="_blank" role="button">قراءة</a>
						</div>
						<div class="col">
							<a class="btn btn-success w-100" href={book.file_path} target="_blank" role="button">تحميل</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		))}
	</div>
) : (
	<div class="alert alert-warning mb-3" role="alert">
	<div class="d-flex align-items-center">
		<svg class="bi flex-shrink-0 me-2" viewBox="0 0 16 16" width="16" height="16" role="img" aria-label="تنبيه:"><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/></svg>
		<h2 class="h4 alert-heading">لا توجد كتب تطابق بحثك الحالي.</h2>
	</div>
	<p class="mb-1">عذراً، لم نجد أي كتب تطابق معايير بحثك.</p>
	<hr>
	<a class="btn btn-outline-primary" href="/books/" role="button">الغاء البحث</a>
</div>
)}
	
	<nav aria-label="التنقل">
		<ul class="pagination justify-content-center">
			<li class={`page-item ${currentPage === 1 ? 'disabled' : ''}`}><a class="page-link" href={`?p=${currentPage - 1}`}>&laquo; الماضي</a></li>
			<li class="page-item active"><a class="page-link" href="#" aria-current="page">{currentPage}</a></li>
			<li class={`page-item ${currentPage >= totalPages ? 'disabled' : ''}`}><a class="page-link" href={`?p=${currentPage + 1}`}>التالي &raquo;</a></li>
		</ul>
	</nav>
	
</Layout>