---
const {head, data, foot} = Astro.props
---
<div class="table-responsive">
	<table class="table table-striped table-hover">
	{head && (
		<thead>
			<tr>
			{head.map(header => (
				<th scope="col">{header}</th>
			))}
				<th scope="col">الإجراءات</th>
			</tr>
		</thead>
	)}
	{data.length > 0 ? (
		<tbody class="table-group-divider">
		{data.map(row => (
			<tr>
				<th scope="row">{row[1]}</th>
			{row.slice(2).map(col => (
				<td>{col}</td>
			))}
				<td><button type="button" class="btn btn-danger" id={row[0]}>حذف</button></td>
			</tr>
		))}
		</tbody>
	) : (
		<caption class="text-center">لا يوجد عناصر</caption>
	)}
	{foot && (
		<tfoot class="table-group-divider">
			<tr>
			{foot.map(footer => (
				<th scope="col">{footer}</th>
			))}
			</tr>
		</tfoot>
	)}
	</table>
</div>